services:
  deno-app:
    image: denoland/deno:debian-2.5.6
    env_file:
      - .env
    command: tail -f /dev/null
    volumes:
      - /project/workspace:/project/workspace 
    ports:
      - "8000:8000"
    depends_on:
      - redis
      - postgres

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: demo
    ports:
      - "5432:5432"
